.geometry-reset{
    margin:0;
    padding:0;
}

.button-reset{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.link-reset{
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.ul-reset,
.li-reset
{
    margin:0;
    padding: 0;
    text-indent: 0;
    list-style-type: 0;
    list-style: none;
 }