@import url("blocks/reset-blocks/reset-block.css");
@import url("blocks/mobile-menu/mobile-menu.css");
@import url("blocks/button/button.css");
@import url("blocks/lang-switcher/lang-switcher.css");

*{
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}